//Colors
$color-primary: #c69963;
// $color-primary: #B1986C;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #f9f7f6;
$color-secondary-dark: #101d2c;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-light-grey: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey: #777;
$color-grey-dark-1: #999;
$color-grey-dark-2: #333;

$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size: 1.6rem;
$font-main: Josefin Sans, sans-serif;
$font-para: Nunito, sans-serif;

//Shadows
$shadow-btn: rgba(7, 49, 69, 0.1);
$shadow-color: rgba(0, 0, 0, 0.1);
$shadow-light: rgba(0, 0, 0, 0.3);
$shadow-dark: rgba(0, 0, 0, 0.5);
