@import "../../styles/main.scss";

.headerWrapper {
  background-color: $color-primary;
  width: 100%;
  height: 9rem;
  a {
    color: $color-light-grey;
  }
  .active {
    background-color: $color-secondary-dark;
    padding: 1rem 1rem;
  }
  .active:hover {
    color: $color-primary;
  }

  @include respond(phone-max) {
    height: 11rem;
    a {
      color: $color-black;
    }
    .active {
      background-color: $color-primary;
    }
  }
}

.headerFlexBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 8rem;

  &_Logo {
    img {
      width: 90px;
    }
    @include respond(phone-max) {
      img {
        width: 80px;
      }
    }
  }

  &_DesktopMenu {
    display: flex;
    align-items: center;
    grid-gap: 15rem;

    &_Left {
      ul {
        display: flex;
        justify-content: space-between;

        li {
          list-style: none;
          margin-right: 4rem;

          a {
            font-weight: 600;
            font-size: 1.5rem;

            &:hover {
              color: $color-black;
              cursor: pointer;
              transition: 0.2s ease-in;
            }
          }
        }
      }

      //dropdown css
      .dropdown {
        position: relative;

        span {
          font-weight: 600;
          font-size: 1.5rem;
          cursor: pointer;
          color: $color-light-grey;

          &:hover {
            color: $color-black;
          }
        }

        .dropdown-menu {
          position: absolute;
          top: 2rem;
          left: 0;
          display: none;
          flex-direction: column;
          background-color: $color-primary;
          padding: 2rem 0;
          min-width: 25rem;
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
          z-index: 1000;

          li {
            padding: 1rem 2rem;

            a {
              color: $color-light-grey;

              &:hover {
                color: $color-secondary-dark;
              }
            }
          }
        }

        &:hover .dropdown-menu {
          display: flex;
        }
      }
    }

    &_Right {
      .headerRightBtn {
        margin-left: 2rem;
      }
    }
  }

  &_MobileMenu {
    display: none;
  }

  //Mobile CSS

  @include respond(tab-port) {
    &_DesktopMenu {
      grid-gap: 3rem;
    }
  }
  @include respond(phone-max) {
    padding: 0 4rem;

    &_DesktopMenu {
      &_Left {
        ul {
          li {
            margin-right: 1rem;
          }
        }
      }
    }
  }

  @include respond(phone) {
    &_DesktopMenu {
      display: none;
    }
    &_MobileMenu {
      display: block;

      .hamburger-icon {
        font-size: 20px;
      }

      &_mobile_list {
        position: absolute;
        z-index: 99999;
        top: 9rem;
        right: 0;
        min-height: 200px;
        width: 100%;
        background-color: $color-secondary-light;
        padding: 2rem;
        display: flex;
        justify-content: center;
        transform: translateX(100%);
        opacity: 0;
        transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
        overflow: hidden;

        &.open {
          transform: translateX(0%);
          opacity: 1;
        }

        &.close {
          transform: translateX(100%);
          opacity: 0;
        }

        ul {
          list-style: none;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          li {
            font-size: 1.8rem;
            margin-bottom: 2rem;
            margin-right: 2rem;
            font-weight: 700;
          }
        }
      }
    }
  }
}
